main {

}

// div {
//   min-height: 250px;
//   background: purple;
//   color: white;
//   font-size: 50px;
//   margin: 20px;
// }

.row {
  background: orange;
  border: 3px solid skyblue;
  padding: 5px;
  margin: 10px;
}

.columna {
  color: white;
  font-size: 25px;
  background: #05077b;
  border: 5px solid white;
}

i {
  font-size: 250px;
  color: green;
}